<!DOCTYPE html>
<html>
    <head>
        <title>{{c.title or "Prickle"}}</title>
        <link href="/css/redmond/jquery-ui-1.8.5.custom.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/prickle.css" />
    </head>
    <body>
        <div class="nav">
            <a href="/">Dashboard</a>
            <a href="{{url(controller="projects", action="list")}}">Projects</a>
            <a href="{{url(controller="invoice", action="list")}}">Invoices</a>
            <a href="{{h.url(controller="timesheet", action="month", month=h.datetime.date.today().strftime('%m'), year=h.datetime.date.today().strftime('%Y'))}}">This Month</a>
        </div>
        {% block content %}
        {% endblock %}

        <script src="/jquery.min.js"></script>
        <script src="/jquery-ui.min.js"></script>
        <script src="/prickle.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
