<!DOCTYPE html>
<html>
    <head>
        <title>Prickle</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/prickle.css" />
    </head>
    <body>
        <div class="nav">
            <a href="/">Dashboard</a>
            <a href="{{url(controller="projects", action="list")}}">Projects</a>
            <a href="{{url(controller="invoice", action="list")}}">Invoices</a>
            <a href="{{h.url(controller="timesheet", action="month", month=h.datetime.date.today().strftime('%m'), year=h.datetime.date.today().strftime('%Y'))}}">This Month</a></td>
        </div>
        {% block content %}
        {% endblock %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/prickle.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
