{% extends 'base.html' %}
{% block content %}
<h2>{{c.title}}</h2>
<strong>Invoice #</strong>{{c.invoice._id}}<br />
<strong>Date:</strong> {{c.invoice.date.strftime("%B %d, %Y")}}<br />
<strong>Bill To:</strong><br />
{{h.nl2br(c.invoice.bill_to)}}
{% include "/timesheet_table.html" %}
{% if c.invoice.tax %}
<table>
    <tr>
        <td>HST ({{c.invoice.tax}}%):</td>
        <td>${{"%.2f" % c.taxes}}</td>
    </tr>
    <tr>
        <td></td><td></td>
        <td>Total:</td>
        <td>${{"%.2f" % c.after_taxes}}</td>
    </tr>
</table>
{% endif %}
{% endblock %}
