{% extends 'base.html' %}
{% block content %}
<form method="POST" action="/timesheet/logit">
    <input type="text" name="duration" id="duration" />
    <input type="text" name="project" id="project" />
    <input type="text" name="description" id="description" />
    <input type="submit" value="Log It" />
</form>
Recent entries:
<table>
    <tr>
        <th>Duration</th><th>Project</th><th>Description</th>
    </tr>
    {% for timesheet in c.existing_timesheets %}
        <tr>
            <td>{{"%.2f"|format(timesheet.duration)}}</td>
            <td>{{timesheet.project}}</td>
            <td>{{timesheet.description}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $("#project").autocomplete({
        source: [
            {% for project in c.project_list %}
            "{{project}}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ]});


</script>
{% endblock %}
