{% extends 'base.html' %}
{% block content %}
<h2>{{c.title}}</h2>
Project Rate: ${{c.project.rate}} (<a href="{{url(controller="projects", action="view", id=c.project.id)}}">Edit</a>)
<a href="{{url(controller="invoice", action="create_form", id=c.project.id)}}">Create Invoice</a>
{% if c.timesheets %}
<h3>Unbilled timesheets for {{c.project.id}}</h3>
{% include "/timesheet/timesheet_table.html" %}
{% endif %}
{% if c.invoices %}
<h3>Invoices</h3>
{% include "/invoice/invoice_table.html" %}
{% endif %}
{% endblock %}
