{% extends 'base.html' %}
{% block content %}
<h2>{{c.title}}</h2>
Project Rate: ${{c.project.rate}} <a href="{{url(controller="projects", action="view", id=c.project.id)}}">Edit</a> 
{% if c.timesheets %} |
    <a href="{{url(controller="invoice", action="create_form", id=c.project.id)}}">Create Invoice</a> |
    <a href="{{url(controller="invoice", action="mark_billed", id=c.project.id)}}" title="Mark all uninvoiced hours as billed without creating a new invoice">Mark Billed</a>
    <h3>Unbilled timesheets for {{c.project.id}}</h3>
    {% include "/timesheet/timesheet_table.html" %}
{% endif %}
<h3>Work Types</h3>
<ul>
    {% for type in c.project.project_types() %}
    <li>{{type.type or "[None]"}}: 
        {% if type.rate %}
            <span class="set_rate">${{type.rate}}</span>
        {% else %}
            <span class="inherited_rate">${{c.project.rate}}</span>
        {% endif %}
        <span id="edit_type_{{type.type}}">
            <a class="edit_button" href="javascript: $('#edit_type_{{type.type}} .edit_button').hide(); $('#edit_type_{{type.type}} form').show(); void(0)">Edit</a>
            <form method="post" action="{{url(controller='projects', action='type_rate', project=c.project.id, type=type.type)}}" class="edit_type" style="display: none">
                <input type="number" name="rate" value="{{type.rate or c.project.rate}}" />
                <input type="submit" value="Save" />
                <a href="javascript:$('#edit_type_{{type.type}} .edit_button').show(); $('#edit_type_{{type.type}} form').hide(); void(0);">Cancel</a>
            </form>
        </span>
    </li>
    {% endfor %}
</ul>
{% if c.invoices %}
<h3>Invoices</h3>
{% include "/invoice/invoice_table.html" %}
{% endif %}
{% endblock %}
