{% extends 'base.html' %}
{% block content %}
<h2>{{c.title}}</h2>
<div id="sidebar">
    <div id="timer">
    </div>
    <div id="select_date">
    </div>
</div>
<form method="POST" action="/timesheet/logit">
    <input type="hidden" name="next" value="{{request.path}}" />
    <input type="date" name="date" value="{{c.date.strftime('%Y-%m-%d')}}" />
    <input type="text" name="duration" id="duration" autofocus placeholder="time" />
    <input type="text" name="project" id="project" placeholder="project" />
    <input type="text" name="description" id="description" placeholder="description"/>
    <input type="submit" value="Log It" />
    <span id="error_message"></span>
</form>
<h3>{{c.entry_title}}:</h3>
{% include "/timesheet/timesheet_table.html" %}
<h3>Projects</h3>
<ul>
{% for project in c.project_list %}
    <li><a href="{{h.url(controller="timesheet", action="project", id=project)}}">{{project}}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#project").autocomplete({
            source: [
                {% for project in c.project_list %}
                "{{project}}"{% if not loop.last %},{% endif %}
                {% endfor %}
                ],
            delay: 0,
            minLength: 0,
            selectFirst: true,
                });
        setup_duration();
        $('#select_date').datepicker({
            defaultDate: "{{c.date.strftime("%Y-%m-%d")}}",
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            onSelect: function(dateText, inst) {
                window.location = "http://" + window.location.host + "/timesheet/date/" + dateText;
            }
        });
    });
</script>
{% endblock %}
