<table class="timesheets">
    <tr>
        <th>Date</th><th>Duration</th><th>Rate</th><th>Fee</th><th>Project</th><th>Type</th><th>Description</th>
        {% if c.invoice_column %}
        <th>Invoice</th>
        {% endif %}
    </tr>
    {% if c.total_time and timesheets|length > 10 %}
    <tr class="total"><td></td><td>{{h.decimal_to_hours(c.total_time)}}</td><td></td><td>${{"%.2f" % c.total_fee}}</td><td></td><td></td>{% if c.delete_column %}<td></td>{% endif %}</tr>
    {% endif %}
    {% for timesheet in c.timesheets %}
    {% include 'timesheet/timesheet_row.html' %}
    {% endfor %}
    {% if c.total_time %}
    <tr class="total"><td></td><td>{{h.decimal_to_hours(c.total_time)}}</td><td></td><td>${{"%.2f" % c.total_fee}}</td><td></td><td></td><td></td>{% if c.delete_column %}<td></td>{% endif %}{% if c.invoice_column %}<td></td>{% endif %}</tr>
    {% endif %}
</table>
