{% extends 'base.html' %}
{% block content %}
<h2>{{c.title}}</h2>
<a href="{{h.url(controller="invoice", action="view", id=c.invoice.number)}}">Print Invoice</a><br />
<strong>Invoice #</strong>{{c.invoice.number}}<br />
<strong>Date:</strong> {{c.invoice.date.strftime("%B %d, %Y")}}<br />
<strong>Bill To:</strong><br />
{{h.nl2br(c.invoice.bill_to)}}
{% include "/timesheet/timesheet_table.html" %}
{% if c.invoice.tax %}
<table>
    <tr>
        <th>HST ({{c.invoice.tax}}%):</th>
        <td>${{"%.2f" % c.taxes}}</td>
    </tr>
    <tr>
        <th>Total:</th>
        <td>${{"%.2f" % c.after_taxes}}</td>
    </tr>
</table>
{% endif %}
{% endblock %}
