/* general */
body {
    font-family: bitstream vera sans,sans-serif;
    background-color: white;
    color: black;
}
h1, h2, h3 {
    color: #58d;
}
table.timesheets {
    /*border-collapse: collapse;*/
    border-spacing: 0px;
    border-radius: 10px;
    border-color: #dde;
    border-width: 5px;
    border-style: double;
    margin-right: 1em;
}
table.timesheets td, table.timesheets th {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dde;
}
table.timesheets td {
    padding: 4px;
}
table.timesheets td.date {
    border-left-width: 0px;
    font-size: small;
    width: 12ex;
}
table.timesheets td.description {
    font-size: small;
}
table.timesheets tr {
    height: 2em;
}
table.timesheets tr:nth-child(2n) {
    background-color: #eef;
}
tr.total td {
    border-top-width: 4px;
    border-top-style: double;
    border-top-color: #dde;
    border-bottom-width: 4px;
    border-bottom-style: double;
    border-bottom-color: #dde;
    background-color: #eee;
}
input, button {
    border-color: #dde;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
input[type=submit], button, a.button {
    background-color: #eef;
    padding: 3px 12px;
    color: #69e;
}
/* nav */
.nav {
    border-style: double;
    border-radius: 10px;
    border-width: 5px;
    border-color: #dde;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    text-align: center;
    background-color: #eef;
    color: #dde;
}
.nav a {
    font-weight: bold;
}
.nav a:hover {
    background-color: #fff;
    text-decoration: none;
}
/* logit form */
input[type=date] {
    width: 7em;
}
#duration {
    width: 6ex;
}
#project {
    width: 12ex;
}
#type {
    width: 12ex;
}
#description {
    width: 25ex;
}
.error {
    color: #f44;
}
#sidebar {
    float: right;
}
/* timer */
#timer {
    margin-left: 2em;
    margin-bottom: 2em;
    text-align: center;
}
#timerlabel {
    font-size: 3em;
    font-weight: bold;
    color: #dde;
}
#stop_timer {
    display: none;
}
#pause_timer {
    display: none;
}
/* invoice form */
#bill_to {
    width: 20em;
    height: 10em;
}
#tax {
    width: 5em;
}
#invoice_number {
    width: 5em;
}
a {
    color: #69e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* project summary types */
.set_rate {
    color: #69e;
}
.inherited_rate {
    color: #aaa;
}
form.edit_type {
    display: inline;
}
