/* general */
body {
    font-family: bitstream vera sans,sans-serif;
    background-color: white;
    color: black;
}
table.timesheets {
    /*border-collapse: collapse;*/
    border-spacing: 0px;
    border-radius: 10px;
    border-color: #dde;
    border-width: 5px;
    border-style: double;
    margin-right: 1em;
}
table.timesheets td, table.timesheets th {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dde;
}
table.timesheets td {
    padding: 4px;
}
table.timesheets td.date {
    border-left-width: 0px;
    font-size: small;
    width: 12ex;
}
table.timesheets td.description {
    font-size: small;
}
table.timesheets tr {
    height: 2em;
}
table.timesheets tr:nth-child(2n) {
    background-color: #eef;
}
tr.total td {
    border-top-width: 4px;
    border-top-style: double;
    border-top-color: #dde;
    background-color: #efefff;
}
input {
    border-color: #dde;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
input[type=submit] {
    background-color: #eef;
    padding: 3px 12px;
    color: #69e;
}
/* logit form */
#duration {
    width: 6ex;
}
#project {
    width: 20ex;
}
#description {
    width: 30ex;
}
#error_message {
    display: none;
    color: #f44;
}
#select_date {
    float: right;
}
/* invoice form */
#bill_to {
    width: 20em;
    height: 10em;
}
#tax {
    width: 5em;
}
#invoice_number {
    width: 5em;
}
a {
    color: #69e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
